@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Slab&display=swap');

#App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

ul{
  align-items: flex-start;
}

@media (max-width: 416px){
  p{
    width: 90%;
  }
  ul{
    width: 85%;
  }
}

@media (min-width: 600px){
  p{
    width: 70%;
  }
  ul{
    width: 85%;
  }
}

@media (min-width: 768px){
  p{
    width: 80%;
  }
  ul{
    width: 80%;
  }
}

@media (min-width: 992px){
  p{
    width: 70%;
  }
  ul{
    width: 85%;
  }
}

@media (min-width: 1200px){
  p{
    width: 50%;
  }
  ul{
    width: 90%;
  }
}