@media (max-width: 416px){
  #disclaimer{
    width: 100%;
  }
  #disclaimer > p{
    width: 90%;
    text-align: justify;
  }
}
#disclaimer{
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 800px){
  #disclaimer p{
    width: 50%;
  }
}