#kanji-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#kanji-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p{
  width: 66vw;
  padding: 16px;
  border-radius: 12px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.041);
}

li{
  width: 55vw;
}