@media (max-width: 416px){
  #lolz-social{
    flex-direction: column;
  }
}

#lolz-social{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lolz-social .network{
  margin: 4px 8px 8px 8px;
  padding: 4px 8px 4px 0px;
  background: #373737;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

#lolz-social .network:hover{
  color: white;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
}

.fab{
  margin: 8px;
}

#lolz-logo{
  margin-right: 8px;
  height: 24px;
}

#lolz-social > .empty{
  margin-left: 8px;
}