

.table-section > .header{
  margin-top: 64px;
}

.table-section > .description{
  border: 2px solid rebeccapurple;
  padding: 12px;
}
.table-section > .description:hover{
  cursor: pointer;
  background-color: rgba(102, 51, 153, 0.432);
}

.table-section > .table{
  display: grid;
  gap: 12px;
}

.table-section > .tab-head{
  font-size: 2rem;
}

.table-section > .kana{
  background-color: #ababab;
  border-radius: 100%;
  font-size: 2rem;
}

.table-section > .kana:hover{
  background-color: cadetblue;
  cursor: pointer;
}


