.table-section{
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  padding: 20px;
  margin-bottom: 20px;
}

.table-section .description{
  border: 2px solid rebeccapurple;
  padding: 12px;
}
.table-section .description:hover{
  cursor: pointer;
  background-color: rgba(102, 51, 153, 0.432);
}

.table-section > .table{
  display: grid;
  gap: 12px;
}

.table > .kana{
  background-color: #ababab;
}

.table > .kana:hover{
  font-family: 'Noto Serif JP', serif;
}

.table > .exception{
  background-color: blue;
}

.table > .special{
  background-color: red;
}

.kana > span{
  font-size: clamp(106px, 12%, 106px);
}

.table > .kana:hover{
  background-color: cadetblue;
  cursor: pointer;
}


.table > .tab-head{
  font-size: clamp(12px, 5vw, 36px);
}

@media (max-width: 416px){
  .table-section{
    padding: 10px;
  }
  .table-section > .table{
    gap: 4px;
  }
  .table .tab-head{
    font-size: 0.8rem;
    word-wrap: break-word;
  }
  .kana > span{
    font-size: 12vw;
  }
  .table svg{
    width: 13vw;
  }
  .romaji-style > .kana > span{
    font-size: 10vw;
  }
}

@media (min-width: 416px){
  .kana > span{
    font-size: 10vw;
  }
  .table svg{
    width: 10vw;
  }
  .romaji-style > .kana > span{
    font-size: 6vw;
  }
}

@media (min-width: 768px){
  .romaji-style > .kana > span{
    font-size: 7vw;
  }
}

@media (min-width: 1200px){
  .kana > span{
    font-size: 6vw;
  }
  .table svg{
    width: 6vw;
  }
  .romaji-style > .kana > span{
    font-size: 5vw;
  }
}