@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 416px){
  p{
    width: 90%;
  }
  ul{
    width: 80%;
  }
}

@media (min-width: 800px){
  p{
    width: 50%;
  }
}